<% provide :title, "Help" %>
<div class="jumbotron jumbotron-fluid">
    <h1>Help</h1>
    <p class="text-uppercase">
        Get help on the Ruby on Rails Tutorial at the
        <a class="btn btn-primary" href="http://www.railstutorial.org/help">Rails
            Tutorial help
            page</a>.
        To get help on this sample app, see the
        <a class="btn btn-primary" href="http://www.railstutorial.org/book"><em>Ruby
                on Rails
                Tutorial</em> book</a>.
    </p>
</div>
